<div class="message">
  <p><%= @question %> </p>
  <p>- You </p>
</div>

<div class="message answer">
  <p><%= @answer %> </p>
  <p>- Your coach</p>
</div>

<%= link_to 'Ask a new question', ask_path %>
</div>
