
<form action="/answer" method="get">
  <div class="col-xs-12">
      <label for="question-input" class="control-label">Ask your coach anything</label>
    <div class="form-group form-inline">
      <input class='form-control' id='question-input' type="text" name="question">
      <input class="btn btn-default btn-primary" type="submit" value="Ask">
    </div>
  </div>
</form>

